@import "vars";
@import "reset";
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile-avatar";
@import "blocks/social";
html {
    font-size: 62.5%;
}
body {
    background-color: #181818;
    font-size: 1.4rem;
    color: $textColor;
    font-family: system-ui,-apple-system,"Segoe UI",
    "Roboto","Helvetica Neue",Arial,"Noto Sans",
    "Liberation Sans",sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol",
    "Noto Color Emoji";
    box-sizing: border-box;
    line-height: 1.5;
}
.page {
    overflow: hidden;
}
.btn {
    text-decoration: none;
    display: block;
    width: 12rem;
    border-radius: 2.5rem;
    padding: 1.1em 0;
    color: $textColor;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.1;
    transition: background-color .2s linear;
    text-align: center;
    border: none;
    cursor: pointer;
    &_blue {
        background-color: $primaryBtnColor;
        &:hover {
            background-color: darken($primaryBtnColor, 10%);
            box-shadow: 0 7px 17px -10px rgba(#3137C9,  .3);
            
        }
    }
    &_red {
        background-color: $secondaryBtnColor;
        box-shadow: 0 7px 17px -10px rgba(#CD251A, .3);
        &:hover {
            background-color: darken($secondaryBtnColor, 10%);
        }
    }
}