.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: $zindex10;
    height: 30px;
    background-color: #0d0d0d;
    width: calc(100% - #{$width300});
    box-shadow: 0 5px 22px rgba($textColorAlt, .25);
    display: flex;
    align-items: center;
    
    &__right {
        margin-left: auto;
    }
    &__left {
        width: 100%;
    }
}
