<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar.jpg" alt="photo">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <div class="profile__avatar"></div>
            <span class="profile__name">John Doe</span>
            <span class="profile__position">Web Developer</span>
        </div>
        <div class="social profile__social">
            <a href="#" target_blank class="social__link instagram">
            </a>
            <a href="#" class="social__link vk">
            </a>
            <a href="#" class="social__link pinterest">
            </a>
        </div>
        
        <div class="profile__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quasi corrupti nesciunt totam rem impedit maxime ratione odit odio possimus!</p>
        </div>
        
        <div class="sidebar__btns">
            <a href="#" class="btn btn_red">My works</a>
            <button class="btn btn_blue">Call me</button>
        </div>
    </div>
    
    
</aside>